In [1]:
import pandas as pd
import json

df = pd.read_csv("./eurocup_2020_results.csv")
df['match_id'] = [i + 1 for i in range(len(df))]
df.head()

,stage,date,pens,pens_home_score,pens_away_score,team_name_home,team_name_away,team_home_score,team_away_score,possession_home,...,total_shots_home,total_shots_away,shots_on_target_home,shots_on_target_away,duels_won_home,duels_won_away,events_list,lineup_home,lineup_away,match_id
0,Final,11.07.2021,True,3,2,Italy,England,1,1,66%,...,19,6,6,2,53%,47%,"[{'event_team': 'away', 'event_time': "" 2' "", ...","[{'Player_Name': 'Insigne', 'Player_Number': '...","[{'Player_Name': 'Kane', 'Player_Number': '9'}...",1
1,Semi-finals,07.07.2021,False,False,False,England,Denmark,2,1,59%,...,20,6,10,3,50%,50%,"[{'event_team': 'away', 'event_time': "" 30' "",...","[{'Player_Name': 'Kane', 'Player_Number': '9'}...","[{'Player_Name': 'Krogh Damsgaard', 'Player_Nu...",2
2,Semi-finals,06.07.2021,True,4,2,Italy,Spain,1,1,29%,...,7,16,4,5,49%,51%,"[{'event_team': 'away', 'event_time': "" 51' "",...","[{'Player_Name': 'Insigne', 'Player_Number': '...","[{'Player_Name': 'Torres', 'Player_Number': '1...",3
3,Quarter-finals,03.07.2021,False,False,False,Ukraine,England,0,4,48%,...,7,10,2,6,42%,59%,"[{'event_team': 'away', 'event_time': "" 4' "", ...","[{'Player_Name': 'Yaremchuk', 'Player_Number':...","[{'Player_Name': 'Kane', 'Player_Number': '9'}...",4
4,Quarter-finals,03.07.2021,False,False,False,Czech Republic,Denmark,1,2,56%,...,16,11,5,7,48%,52%,"[{'event_team': 'away', 'event_time': "" 5' "", ...","[{'Player_Name': 'Schick', 'Player_Number': '1...","[{'Player_Name': 'Dolberg', 'Player_Number': '...",5

In [2]:
from bs4 import BeautifulSoup
import requests
import re

players = []
players_country = []

def escapeSingleQuotes(str):
    midQuotes = re.findall(r"\w'\w", str)
    for occurrence in midQuotes:
        str = str.replace(occurrence, occurrence.replace("'", "''"))
    return str

url = "https://es.uefa.com/uefaeuro-2020/news/0269-12464b6380dc-9a06eb399fac-1000--las-plantillas-de-la-uefa-euro-2020/"
res = requests.get(url)
soup = BeautifulSoup(res.text)
country_info = soup.select(".accordion-container.accordion p")
# country_names = [e.get_text() for e in soup.select(".accordion-btn b")]
# Los nombres de los paises vienen en español en el scrapping, en el df están en inglés
# Por suerte, en el scrapping están ordenados alfabéticamente por el nombre en inglés, por lo que el orden es el mismo
country_names = sorted(set(df['team_name_home'].append(df['team_name_away'])))
decrement = 0
for i, el in enumerate(country_info):
    clean_players = re.sub(r'\ufeff|\w+: ', '', el.get_text())
    if "Luis Enrique" in clean_players:
        decrement = 1
        continue
    for player in clean_players.split(', '):
        player = escapeSingleQuotes(player.strip())
        # Missing comma in scrapped data
        if ') ' in player:
            player = player.replace(') ', '), ')
            players += player.split(', ')
            for time in (range(len(player.split(', ')) - 1)):
                players_country.append(country_names[(i-decrement)//4])
        else:
            player and players.append(player)
            players_country.append(country_names[(i-decrement)//4])
players = pd.DataFrame([{"player_name": player[:player.index(" (")], "club": player[player.index(" (") + 2:player.index(")")]} for player in players])
players['country'] = players_country
players

             player_name          club    country
0        Daniel Bachmann       Watford   Austria
1           Pavao Pervan    Wolfsburgo   Austria
2     Alexander Schlager          LASK   Austria
3            David Alaba        Bayern   Austria
4    Aleksandar Dragović    Leverkusen   Austria
..                   ...           ...        ...
615       Jonny Williams  Cardiff City     Wales
616         Harry Wilson     Liverpool     Wales
617          Gareth Bale   Real Madrid     Wales
618        Kieffer Moore  Cardiff City     Wales
619        Tyler Roberts  Leeds United     Wales

[620 rows x 3 columns]

In [3]:
def findText(html, text):
    for i, el in enumerate(html):
        if text in el.get_text():
            return html[i].get_text().replace(text, '').replace('\n', ' ').strip()

def get_born_city(player):
#     print(player)
    player = player.replace("''", "'").replace(' ', '_')
    url = f"https://es.wikipedia.org/wiki/{player}"
    res = requests.get(url)
    info = BeautifulSoup(res.text).select(".infobox tr")
    if not len(info):
        url = f"https://es.wikipedia.org/wiki/{player}_(futbolista)"
        res = requests.get(url)
        info = BeautifulSoup(res.text).select(".infobox tr")
    try:
        born_text = findText(info, 'Nacimiento')
        born_city = re.findall(r'\D*', born_text)[0]
        return born_city
    except:
        print(f'error en {player}')
        return None

born_city = []
for player in players['player_name']:
    born_city.append(get_born_city(player))

error en Matz_Selz
error en Mile_Škorić
error en Jarcus_Forss
error en Nemanja_Nikolić
error en Emerson
error en Jorginho
error en Ezgijan_Alioski
error en Pote
error en Yuri_Dyupin
error en Andrei_Semenov
error en Roman_Evgenyev
error en Andy_Robertson
error en Vladimír_Weiss
error en José_Gayà
error en Rodri
error en Fabián_Ruiz
error en Adama_Traoré
error en Jens-Lys_Cajuste
error en KKerem_Aktürkoğlu
error en Anatolii_Trubin
error en Illia_Zabarnyi
error en Artem_Besedin
error en Danny_Ward
error en Matthew_Smith

In [4]:
players[players.isna()]

    player_name club country
0           NaN  NaN     NaN
1           NaN  NaN     NaN
2           NaN  NaN     NaN
3           NaN  NaN     NaN
4           NaN  NaN     NaN
..          ...  ...     ...
615         NaN  NaN     NaN
616         NaN  NaN     NaN
617         NaN  NaN     NaN
618         NaN  NaN     NaN
619         NaN  NaN     NaN

[620 rows x 3 columns]

In [5]:
players['born_city'] = born_city

In [6]:
players[players['born_city'].isna()]

           player_name               club            country born_city
27           Matz Selz        Estrasburgo           Belgium       None
61         Mile Škorić             Osijek           Croatia       None
178       Jarcus Forss          Brentford           Finland       None
256    Nemanja Nikolić           Fehérvár           Hungary       None
268            Emerson            Chelsea             Italy       None
276           Jorginho            Chelsea             Italy       None
314    Ezgijan Alioski              Leeds   North Macedonia       None
380               Pote        Sporting CP          Portugal       None
388        Yuri Dyupin              Rubin            Russia       None
396     Andrei Semenov             Akhmat            Russia       None
397     Roman Evgenyev    Dínamo de Moscú            Russia       None
424     Andy Robertson          Liverpool          Scotland       None
461     Vladimír Weiss  Slovan Bratislava          Slovakia       None
469          José Gayà           Valencia             Spain       None
481              Rodri    Manchester City             Spain       None
482        Fabián Ruiz            Nápoles             Spain       None
485       Adama Traoré             Wolves             Spain       None
502   Jens-Lys Cajuste        Midtjylland            Sweden       None
562  KKerem Aktürkoğlu        Galatasaray            Turkey       None
570    Anatolii Trubin   Shakhtar Donetsk           Ukraine       None
578     Illia Zabarnyi     Dínamo de Kiev           Ukraine       None
589      Artem Besedin     Dínamo de Kiev           Ukraine       None
596         Danny Ward     Leicester City             Wales       None
614      Matthew Smith    Manchester City             Wales       None

In [7]:
players.at[27, 'born_city'] = "Lint, Bélgica"
players.at[61, 'born_city'] = "Vinkovci, Croacia"
players.at[178, 'born_city'] = "Turku, Finlandia"
players.at[256, 'born_city'] = "Senta, Serbia"
players.at[268, 'born_city'] = "Santos, Estado de São Paulo, Brasil"
players.at[276, 'born_city'] = "Imbituba, Santa Catarina, Brasil"
players.at[314, 'born_city'] = "Prilep, Macedonia del Norte"
players.at[380, 'born_city'] = "Vidago, Portugal"
players.at[388, 'born_city'] = "Barnaúl, Rusia"
players.at[396, 'born_city'] = "Moscú, Rusia"
players.at[397, 'born_city'] = "Spasskoye, Rusia"
players.at[424, 'born_city'] = "Glasgow, Reino Unido"
players.at[416, 'born_city'] = "Glasgow, Reino Unido"
players.at[424, 'born_city'] = "Glasgow, Reino Unido"
players.at[461, 'born_city'] = "Bratislava, Eslovaquia"
players.at[469, 'born_city'] = "Pedreguer, Alicante"
players.at[481, 'born_city'] = "Madrid"
players.at[482, 'born_city'] = "Los Palacios y Villafranca, Sevilla"
players.at[485, 'born_city'] = "L'Hospitalet de Llobregat, Barcelona"
players.at[502, 'born_city'] = "Gotemburgo, Suecia"
players.at[562, 'born_city'] = "İzmit, Turquía"
players.at[570, 'born_city'] = "Donetsk, Ucrania"
players.at[578, 'born_city'] = "Kiev, Ucrania"
players.at[589, 'born_city'] = "Járkov, Ucrania"
players.at[596, 'born_city'] = "Wrexham, Reino Unido"
players.at[608, 'born_city'] = "Warrington, Reino Unido"
players.at[614, 'born_city'] = "Northampton, Reino Unido"

In [8]:
url = "https://nominatim.geocoding.ai/search"

def get_born_city_cords(city):
    city = city.replace("Myhiya", "Óblast de Mykolaiv")
    query = {
        "q": city,
        "format":"jsonv2"
    }
    res = requests.get(f"{url}", params=query).json()
    if len(res) > 0:
        return res[0]['lat'], res[0]['lon']
    
    print(city)
    return None, None
                   
lat_list = []
lon_list = []
for city in players['born_city']:
    lat, lon = get_born_city_cords(city.split(',')[0])
    lat_list.append(lat)
    lon_list.append(lon)

In [9]:
players['long'] = lon_list
players['lat'] = lat_list

In [10]:
players

,player_name,club,country,born_city,long,lat
0,Daniel Bachmann,Watford,Austria,"Wiener Neustadt, Austria",16.23325959462936,47.80708635
1,Pavao Pervan,Wolfsburgo,Austria,Livno,17.0042416,43.8259136
2,Alexander Schlager,LASK,Austria,"Salzburgo, Austria",13.0464806,47.7981346
3,David Alaba,Bayern,Austria,"Viena, Austria",16.3725042,48.2083537
4,Aleksandar Dragović,Leverkusen,Austria,"Viena, Austria",16.3725042,48.2083537
...,...,...,...,...,...,...
615,Jonny Williams,Cardiff City,Wales,"Pembury, Kent, Inglaterra",0.323818,51.1415015
616,Harry Wilson,Liverpool,Wales,"Wrexham, Gales",-2.9937869,53.0465084
617,Gareth Bale,Real Madrid,Wales,"Cardiff, Gales",-3.1791934,51.4816546
618,Kieffer Moore,Cardiff City,Wales,"Torquay, Inglaterra",-3.5211361,50.4652392
619,Tyler Roberts,Leeds United,Wales,"Gloucester, Inglaterra",-2.2458192,51.8653705

In [11]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

load_dotenv()

POSTGRES_USER = os.getenv('POSTGRES_USER')
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
POSTGRES_HOST = os.getenv('POSTGRES_HOST')
POSTGRES_PORT = os.getenv('POSTGRES_PORT')
POSTGRES_DATABASE = os.getenv('POSTGRES_DATABASE')

url = f'postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DATABASE}'
print(url)
engine = create_engine(url)
connection = engine.connect()

postgresql+psycopg2://phqilykoacfdfu:514fa478368ec88d904a7b1dfcdffef80731b9d57a3c48fc196e1a7a868e570e@ec2-52-214-178-113.eu-west-1.compute.amazonaws.com:5432/d8fmf92045q3sr

In [14]:

query = '''
    DROP TABLE IF EXISTS players;
    CREATE TABLE players (
        player_id SERIAL PRIMARY KEY,
        player_name VARCHAR(50) NOT NULL,
        club VARCHAR(50) NOT NULL,
        country VARCHAR(50) NOT NULL,
        born_city VARCHAR(100) NOT NULL,
        long FLOAT NOT NULL,
        lat FLOAT NOT NULL

    );
'''

connection.execute(query)

In [15]:
query_players = """
    INSERT INTO players (
        player_name,
        club,
        country,
        born_city,
        long,
        lat
    )
    VALUES (
        '{player_name}',
        '{club}',
        '{country}',
        '{born_city}',
        {long},
        {lat}
    )
"""

def format_string(str):
    return str.strip().replace("'", "''")

for i, row in players.iterrows():
    connection.execute(query_players.format(
        player_name = format_string(row['player_name']),
        club = format_string(row['club']),
        country = format_string(row['country']),
        born_city = format_string(row['born_city']),
        long = row['long'],
        lat = row['lat']
    ))